.link_light {
  position: relative;
  transition: width 0.3s linear;
  &:hover {
    &::before {
      width: 110%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0;
    background: #000000;
    transition: width 0.3s linear;
  }
}
.link_dark {
  position: relative;
  transition: width 0.3s linear;
  &:hover {
    &::before {
      width: 110%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0;
    background: #ffffff;
    transition: width 0.3s linear;
  }
}
