link_light {
  color: #000000;
  position: relative;
  text-decoration: none;
  font-family: Arial;
  font-weight: 500;
}
.link_light:hover::before {
  width: 104%;
}

.link_light::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  transition: width 0.2s linear;
  width: 0%;
  background: #000000;
}

.link_dark {
  color: #ffffff;
  position: relative;
  text-decoration: none;
  font-family: Arial;
  font-weight: 500;
}
.link_dark:hover::before {
  width: 104%;
}

.link_dark::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  transition: width 0.2s linear;
  width: 0%;
  background: #ffffff;
}
