.link_light {
  position: relative;
  transition: width 0.3s linear;
  user-select: none;
  &:hover {
    &::before {
      width: 110%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0;
    background: #000000;
    transition: width 0.3s linear;
  }
}
.link_dark {
  position: relative;
  transition: width 0.3s linear;
  color: #ffffff;
  user-select: none;
  &:hover {
    &::before {
      width: 110%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 4px;
    width: 0;
    background: #ffffff;
    transition: width 0.3s linear;
  }
}
@media screen and (max-width: 768px) {
  .link_light::before {
    height: 2px;
  }
  .link_dark::before {
    height: 2px;
  }
}
